html
  height 100%
  background-color black

body
  margin 0
  min-height 100%

.webvr-button
  position absolute
  bottom 1em
  left 50%
  transform translateX(-50%)
  padding 0.3em 1em
  border-radius 5px
  border 1px solid #888
